// #home {
//   position: relative;
//   background: url("../../assets/bgIMG.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: repeat;

// }

.app__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 2rem;
  margin: 2rem 1rem 2rem 0rem;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.app__header-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 3rem ;
}
.app__header-paragraph {
  margin:2rem 0rem;
  color: var(--color-main);
}
.app__header-image {
  width: 450;
  height: auto;
  margin: 0rem 2rem;
  align-items: flex-start;
}
.app__header-image img {
  flex: 1;
  width: 100%;
}
