.app__footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: var(--black-color);
}
.app__footer-left {
  flex: 1;
  margin: 0rem 2rem;
  justify-content: flex-start;
  p {
    color: white;
  }
}
